/* Common */

html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #222;
}

body {
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    background-color: #2e3032;
}

body, p, span, input, button, textarea {
    font-family: sans-serif;
    color: #ACACAC;
    font-size: small;
}

h1 { font-size: 22px; font-weight: normal; padding: 0; margin: 0; }
h2 { font-size: 18px; font-weight: normal; padding: 0; margin: 0; }

/* Links */

a               { color: #5484ae; }
a:hover         { color: #e17661; }
a:visited       { color: #5484ae; }
a:visited:hover { color: #e17661; }

/* Forms */

input, textarea {
    border: 1px solid #515151;
    padding: 4px 8px 4px 8px;
    color: #ccc;
    background-color: #35393A;
    min-width: 512px;
}

input.warn {
    color: #A9B7C6;
    background: #e17661 none;
}

input[type='checkbox'] {
    padding: 0;
    margin: 3px;
    border: 1px solid gray;
}

button {
    margin: 0 16px 0 0;
    color: #ccc;
    min-width: 96px;
    border: 0;
    padding: 8px 16px 8px 16px;
    background-color: #5484ae;
}

/* Tables */

table {
    border: 0;
    border-top: 1px solid #515151;
    border-collapse: collapse;
}
td {
    padding: 4px 8px 4px 8px;
    border-bottom: 1px solid #515151;
}
td span.value {
    border: 1px solid #454545;
    padding: 0 0 0 0;
    color: #d2d2d2;
    display: block;
}
th {
    padding: 8px 8px 8px 8px;
    border-bottom: 3px double #454545;
    font-weight: bold;
    background-color: #292A2C;
    text-align: left;
}

td.numeric, th.numeric {
    text-align: right;
}

table.table_list {
    min-width: 512px;
}


table.table_list a {
    margin: 0 2px 0 2px;
}

table.table_edit {
    min-width: 512px;
}

table.table_edit td.td_legend {
    font-weight: bold;
    text-align: right;
    padding-top: 6px;
    min-width: 128px;
    vertical-align: top;
}

table.table_view td.td_legend {
    font-weight: bold;
    text-align: right;
    padding-top: 6px;
    min-width: 128px;
    vertical-align: top;
}

table.table_view div.post_content {
    margin: 0;
    border: 1px solid #515151;
    padding: 4px 8px 4px 8px;
    color: #ccc;
    background-color: #35393A;
}

table.table_view div.post_content div {
    margin: 0;
    padding: 0;
}

table.table_view div.post_content p {
    padding: 0;
    margin: 0 0 16px 0;
}

table.table_view div.post_content table {
    border: 0;
}

table.table_view div.post_content td {
    border: 0;
}

/*table.table_list td.td_buttons {
    padding: 2px 8px 2px 8px;
}*/

/*table.table_list a {
    text-decoration: none;
    display: inline-block;
    background-color: #5484ae;
    color: #ACACAC;
    padding: 2px 4px 2px 4px;
    margin: 0 4px 0 0;
}*/

/* Layout */

header {
    padding: 16px 32px 16px 32px;
    background-color: #252628;
    margin: 0;
}

footer {}

nav.subnav {
    padding: 8px 32px 8px 32px;
    background-color: #292A2C;
}

nav.subnav a {
    margin-right: 16px;
}

main {
    display: block;
    padding: 16px 32px 16px 32px;
    margin: 0;
    background-color: #2e3032;
}

main div{
    padding: 0 0 16px 0;
}

/* Other layers */

div.info {
    background-color: #6fb22e;
    color: #222;
    padding: 10px;
    margin-top: 10px;
}

div.error {
    background-color: #e17661;
    color: #222;
    padding: 10px;
    margin-top: 10px;
}

div.error_msg, div.warning_msg, div.info_msg {
    margin: 0 0 16px 0;
    padding: 8px 16px 8px 16px;
}

div.error_msg {
    background-color: #e17661;
    color: antiquewhite;
}

div.warning_msg {
    background-color: antiquewhite;
}

div.info_msg {
    background-color: aquamarine;
}

div.div_edit { padding: 0; margin: 0; }
div.div_edit_row { padding: 0; margin: 0 0 8px 0; vertical-align: top; }
div.div_edit_legend { width: 256px; display: inline-block; padding: 6px 4px 4px 0; margin: 0; font-weight: bold;
    text-align: right; vertical-align: top; }
div.div_edit_input{ display: inline-block; padding: 0 4px 4px 4px; margin: 0; vertical-align: top; }

div.div_edit_error { display: block; padding: 0; margin: 0; font-weight: normal; color: #e17661; }
div.div_edit_error span { color: #e17661; }



