<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <import resource="spring-config.xml"/>

    <!-- context:component-scan base-package="org.rp.sandboxmvc"/ -->

    <bean id="botService" name="botService" class="org.mockito.Mockito" factory-method="mock">
        <constructor-arg value="org.rp.sandboxmvc.service.BotService"/>
    </bean>

    <bean id="channelService" name="channelService" class="org.mockito.Mockito" factory-method="mock">
        <constructor-arg value="org.rp.sandboxmvc.service.ChannelService"/>
    </bean>

    <bean id="feedService" name="feedService" class="org.mockito.Mockito" factory-method="mock">
        <constructor-arg value="org.rp.sandboxmvc.service.FeedService"/>
    </bean>

    <bean id="postService" name="postService" class="org.mockito.Mockito" factory-method="mock">
        <constructor-arg value="org.rp.sandboxmvc.service.PostService"/>
    </bean>

    <bean id="publicationService" name="publicationService" class="org.mockito.Mockito" factory-method="mock">
        <constructor-arg value="org.rp.sandboxmvc.service.PublicationService"/>
    </bean>

</beans>